/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    require-prior-idle-ms = <210>;
    tapping-term-ms = <150>;
    hold-trigger-key-positions = <>;
    hold-trigger-on-release;
    quick-tap-ms = <75>;
};

/ {
    behaviors {
        comma_lessthan: comma_lessthan {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA_LESSTHAN";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LESS_THAN>;
        };

        fullstop_greaterthan: fullstop_greaterthan {
            compatible = "zmk,behavior-tap-dance";
            label = "FULLSTOP_GREATERTHAN";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp GREATER_THAN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q      &kp W        &kp E           &kp R           &kp T        &kp Y    &kp U           &kp I           &kp O        &kp P           &trans
&trans  &mt DEL A  &mt LCTRL S  &mt LEFT_ALT D  &mt LEFT_GUI F  &kp G        &kp H    &mt LEFT_GUI J  &mt LEFT_ALT K  &mt LCTRL L  &kp BACKSPACE   &trans
&trans  &kp Z      &kp X        &kp C           &kp V           &kp B        &kp N    &kp M           &kp COMMA       &kp PERIOD   &kp LEFT_SHIFT  &trans
                                &kp TAB         &mo 1           &kp SPACE    &kp RET  &mo 2           &kp ESCAPE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3    &kp N4    &kp N5       &kp N6   &kp N7                &kp N8                &kp N9      &kp N0  &trans
&trans  &none   &none   &none     &kp UP    &none        &none    &kp C_VOL_DN          &kp C_VOL_UP          &kp C_MUTE  &none   &trans
&trans  &none   &none   &kp LEFT  &kp DOWN  &kp RIGHT    &none    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none       &none   &trans
                        &trans    &trans    &kp SPACE    &kp RET  &mo 3                 &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL   &kp AT     &kp HASH   &kp DLLR       &kp PRCNT           &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
&trans  &kp GRAVE  &kp MINUS  &kp EQUAL  &kp BACKSLASH  &kp PIPE            &kp SEMI   &kp APOS  &kp SLASH        &kp LBKT  &kp RBKT  &trans
&trans  &kp TILDE  &kp UNDER  &kp PLUS   &kp LESS_THAN  &kp GREATER_THAN    &kp COLON  &kp DQT   &kp QUESTION     &kp LBRC  &kp RBRC  &trans
                              &trans     &mo 3          &kp SPACE           &kp RET    &trans    &trans
            >;
        };

        function_layer {
            bindings = <
&trans  &kp F1         &kp F2         &kp F3         &kp F4         &kp F5           &kp F6      &kp F7  &kp F8  &kp F9   &kp F10  &trans
&trans  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &bt BT_CLR  &none   &none   &kp F11  &kp F12  &none
&trans  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &none       &none   &none   &none    &none    &trans
                                      &trans         &trans         &kp SPACE        &kp ENTER   &trans  &trans
            >;
        };
    };
};
